<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>RETURNED STOCK</a>
    <ng-template ngbNavContent>
      <div class="container-fluid">
        <div class="col-12">
          <table class="table table-striped table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>DATE</th>
                <th>ID</th>
                <th>CUSTOMER</th>
                <th scope="col">SKU</th>
                <th scope="col">QTY</th>
                <th scope="col">UNIT</th>
                <th>STATUS</th>
                <th>LOCATION</th>
                <!-- <th>STATUS</th>
            <th>WH MAN</th>
            <th>SA MAN</th> -->

                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rec of cdrRecord; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{rec.date.toMillis() | date: "dd/MM/YY"}}</td>
                <td>{{rec.propertyId | uppercase}}</td>
                <td>{{rec.customer}}</td>
                <td>{{ rec.sku }}</td>
                <td>{{ rec.qty }}</td>
                <td>{{ rec.unit }}</td>
                <td>{{rec.status}}</td>
                <td>{{rec.location}}</td>
                <!-- <td>
              <h6 style="color: chocolate;" *ngIf="rec.status == 'pending'">{{rec.status | uppercase}}</h6>
              <ng-template #refund>
                <h6 style="color:cadetblue">{{rec.status | uppercase}}</h6>
              </ng-template>
            </td> -->
                <!--  -->
                <!-- <td>
              <button type="button" class="btn btn-outline-info"><i class="fas fa-clipboard-check"></i></button>
              <div *ngIf="rec.WH">

              </div>
              <ng-template #WHapproved></ng-template>

            </td> -->
                <!--  -->
                <!-- <td><button type="button" class="btn btn-outline-info"><i class="fas fa-clipboard-check"></i></button>
            </td> -->
                <div *ngIf="rec.status != 'completed'">
                  <td><button *ngIf="rec.status != 'under fumigation'"
                      (click)="open(content,rec.propertyId,rec.location,rec.sku,rec.qty)"
                      class="btnpadding btn btn-danger"><i class="fa fa-bug"></i></button>
                    <button *ngIf="rec.status == 'under fumigation'"
                      (click)="open(movetorepack,rec.propertyId,rec.location,rec.sku,rec.qty)"
                      class="btnpadding btn btn-success"><i class="fa fa-check-circle"></i></button>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>

          <!--  -->

          <!--  -->


          <button (click)="addCdr()" type="button" class="btn btn-primary">Add record</button>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>REFUNDABLE</a>
    <ng-template ngbNavContent>
      DEVELOPING FEATURES</ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>WAITING DISPOSAL</a>
    <ng-template ngbNavContent>
      DEVELOPING FEATURES</ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>ON_HOLD</a>
    <ng-template ngbNavContent>
      DEVELOPING FEATURES</ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Start Fumigation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--  -->
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
      <label ngbButtonLabel class="btn-primary">
        <input (click)="setFumLocation('CONT 1')" ngbButton type="radio" [value]="1"> CONT 1
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input (click)="setFumLocation('CONT 2')" ngbButton type="radio" value="middle"> CONT 2
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input (click)="setFumLocation('CONT 3')" ngbButton type="radio" [value]="false"> CONT 3
      </label>
    </div>
    <br>
    <p>FUM LOCATION : {{fumLocation}}</p>
    <!--  -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Confirm')">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Confirm')">Cancel</button>
  </div>
</ng-template>

<!-- ------------------------------------------------------------------------------------------------------------------------------------ -->

<ng-template #movetorepack let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Release from Fumigation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--  -->
    <p>This will release stock from fumigation and add up to Repack stock</p>
    <p>Are you sure?</p>
    <!--  -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Release')">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
  </div>
</ng-template>
<!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
